@import "tailwindcss";

/* TEMA CLARO */
:root {
  --background: #F8F8F8;
  --foreground: #383838;
  --primary: #ff8080;    /* <-- CAMBIO A HEX */
  --secondary: #3c527a;  /* <-- CAMBIO A HEX */
}

/* TEMA OSCURO (DARK MODE) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1C1C;
    --foreground: #E5E5E5;
  }
}

body {
  background-color: var(--background); /* <-- Usamos var() simple */
  color: var(--foreground);
}

/* Estilos para el nuevo componente de Menciones Personalizado */
.mentions-container {
  position: relative;
  width: 100%;
}

.suggestions-list {
  position: absolute;
  background-color: #eff6ff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  margin-top: 2px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  width: 100%;
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}

.suggestion-item:hover {
  background-color: #eff6ff;
}
/* Regla para colorear los links dentro del Activity Feed */
.activity-feed-container li a {
  color: #ff8080; /* Nuestro color primario */
  font-weight: 600; /* Hacemos que resalte un poco */
}

.activity-feed-container li a:hover {
  text-decoration: underline;
}
/* Estilos para el modal de eliminación de proyectos */
.delete-option-danger:has(input:checked) {
  background-color: #FFF0F0; /* Fondo Naranja Claro */
  border-color: #ff8080;     /* Borde Naranja */
}
.delete-option-safe:has(input:checked) {
  background-color: #EBF0F7; /* Fondo Azul Claro */
  border-color: #3c527a;     /* Borde Azul */
}